[data-el-id="0"] { background-image: url('./i-0.jpg'); }
[data-el-twin-id="0"] { background-image: url('./i-0.jpg'); }

[data-el-id="1"] { background-image: url('./i-1.jpg'); }
[data-el-twin-id="1"] { background-image: url('./i-1.jpg'); }

[data-el-twin-id="0"] { --ololo1: 0; }
[data-el-twin-id="1"] { --ololo1: 0; }
