[data-el-id="0"] { background-image: url('./i-0.jpg'); }
[data-el-twin-id="0"] { background-image: url('./i-0.jpg'); }

[data-el-id="1"] { background-image: url('./i-1.jpg'); }
[data-el-twin-id="1"] { background-image: url('./i-1.jpg'); }

/* [data-el-twin-id="0"] { color: tomato; }
[data-el-twin-id="1"] { color: tomato; } */

[data-el-twin-id="0"] { --vis: 1px; }
[data-el-twin-id="1"] { --vis: 1px; }
